// Define variables for your color scheme

// For example:
$white: #EFE9F4;
$red: #780116 ;
$blue-green: #08A4BD;
$dark-blue: #011936;
$blue: #320D6D;
$yellow: #F5B700;
$orange: #E67E22;
$green: #34E4EA;
$gray: #313E50;
$light-gray: #A2A0A3;
