<h1>Create a New Cocktail!</h1>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Name Your Cocktail", class: "btn btn-success" %>
<% end %>

